@import '../../global.scss';

.contact{
    background-color: rgb(206, 241, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
       flex-direction: column;
       background-image:url("https://freesvg.org/img/tree_15042015_5.png");
       background-repeat: no-repeat;
       background-size: cover;
    }

    .left{
        flex: 1;
        overflow: hidden;

        img{
            height: 100%;
        }
        @include mobile{
           display: none;
        }

    }
    .right{
        flex: 1;
        display: flex;
        height:70%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mobile{
            height: 100%;
            width: 100%;
        }

        h2{
            font-size: 30px;
            @include mobile{
                font-size: 25px;
            }
        }
        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @include mobile{
                width: 100%;
            }

            input{
                width: 300px;
                height: 30px;
                font-size: 14px;
                @include mobile{
                    width: 60%;
                }

            }
            textarea{
                width: 300px;
                height: 200px;
                font-size: 14px;
                @include mobile{
                    width: 60%;
                }


            }
            button{
                width: 150px;
                height: 30px;
                color: whitesmoke;
                background-color: crimson;
                border-radius: 10px;
                border: none;
                font-weight: 500;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }
            span{
                color:green;
            }
        }
    }
}